@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family:  "Playfair Display", serif;
}

main {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  article {

    background: #D9C7B3;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  aside {
    background: lightcoral;
  }

  aside img {

    display: block;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  article h1{
    color: #588157;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  }

  article p{
    color: #588157;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  a:link, a:visited{
    display: inline-block;
    color: #D9C7B3;
  text-decoration: none;
  background: #fff;
  border-radius: 4px;
  padding: 0.5em 1em;
  transition: transform 0.25s;
  }

  a:hover, a:active {
    background:#D9C7B3;
    color: #fff;
    transform: scale(1.25);
  }
  
    

  